<%= image_tag "soloski", :class => 'resort-background'%>
<div class="resort-container">

<div class="about-container">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eveniet rem sapiente, ad tempora dolore veniam minima facilis? Aspernatur optio culpa blanditiis nobis voluptatibus ipsam quidem cupiditate corporis architecto, hic.</p1>
<p>Architecto recusandae eligendi modi minima nulla eius quibusdam quos placeat vero iure corrupti saepe numquam dolor quas fugiat, velit molestiae quod necessitatibus reiciendis commodi tempore rem beatae. Dolores, asperiores, impedit?</p1>
<p>Placeat ipsa quidem animi inventore facere excepturi a dolores corporis ea delectus ratione, itaque dicta, beatae, doloribus quis. Adipisci nesciunt tempora illum quod delectus possimus sunt corporis facere consectetur soluta!</p1>
</div>

</div>
