<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src=<%= asset_path('snow.mp4') %> type="video/mp4">
</video>
<div class="home-search">

  <%= form_with url: search_path, local: true, method: :get, html: { class: "easy-autocomplete"} do |form| %>
  <%= form.text_field :q, placeholder: "Resort Search", data: {behavior: "autocomplete"}, class: "easy-autocomplete" %>
  <% end %>



</div>
