<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="/Users/adrianthorburn/Projects/project1/snowbuddy/app/assets/videos/snow.mp4" type="video/mp4">
</video>
<div class="content">
  <h1>Search box coming soon</h1>
  <p>Lorem ipsum...</p>
  <!-- Use a button to pause/play the video with JavaScript -->
  <button id="myBtn" onclick="myFunction()">Pause</button>
</div>
