<%= image_tag "skiandboard", :class => 'resort-background'%>

<div class="resort-container">
<h1>All Resorts</h1>
<div class="resort-list">
<% @resorts.each do |resort| %>
  <h3>
    <%= link_to resort.name, resort_path(resort.id) %>.
  </h3>
  <p>
    <%= link_to (image_tag resort.thumbnail), resort_path(resort.id), :class => "resort-thumbnail" %>
  </p>
<% end %>
</div>
</div>
